@import "tailwindcss";
@config "../tailwind.config.cjs";
@import 'tailwind-animations';
/* Tailwind v4: override breakpoints tại đây */
@theme {
  --breakpoint-sx: 240px;
  --breakpoint-sm: 340px;
  --breakpoint-sl: 440px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  /* nếu muốn có token cho container max width */
  --container-app: 1400px;
}
